<body>
  <div class="container">
    <div class="game_container">
      <a href="game_pages/league.html" target="_blank">
        <img id="league" class="game" alt="league of legends" src="../../assets/images/league.png">
      </a>
    </div>
    <div class="game_container">
      <a href="game_pages/tft.html" target="_blank">
        <img id="tft" class="game" alt="tft" src="../../assets/images/tft.png">
      </a>
    </div>
    <div class="game_container">
      <a href="game_pages/runeterra.html" target="_blank">
        <img id="runeterra" class="game" alt="runeterra" src="../../assets/images/runeterra.png">
      </a>
    </div>
    <div class="game_container">
      <a href="game_pages/valorant.html" target="_blank">
        <img id="valorant" class="game" alt="valorant" src="../../assets/images/valorant.png">
      </a>
    </div>
  </div>
</body>